In [29]:
import numpy as np
import pandas as pd
from numpy import random

In [30]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [31]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [32]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [35]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [36]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [37]:
inside

[1, 2, 3, 1, 2, 3]

In [38]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [40]:
df = pd.DataFrame(random.randn(6,2),hier_index,['A','B'])

In [41]:
df

             A         B
G1 1  0.181931 -0.095700
   2 -0.852027  0.981596
   3 -1.570479  0.029993
G2 1  2.801309 -1.940199
   2 -0.030806 -1.119371
   3 -0.608941 -0.266083

In [42]:
df.loc['G1']

          A         B
1  0.181931 -0.095700
2 -0.852027  0.981596
3 -1.570479  0.029993

In [43]:
df.loc['G1'].loc[1]

A    0.181931
B   -0.095700
Name: 1, dtype: float64

In [44]:
df.index.names

FrozenList([None, None])

In [45]:
df.index.names = ['Groups','Num']

In [46]:
df

                   A         B
Groups Num
G1     1    0.181931 -0.095700
       2   -0.852027  0.981596
       3   -1.570479  0.029993
G2     1    2.801309 -1.940199
       2   -0.030806 -1.119371
       3   -0.608941 -0.266083

In [47]:
df.loc['G2']

            A         B
Num
1    2.801309 -1.940199
2   -0.030806 -1.119371
3   -0.608941 -0.266083

In [48]:
df.loc['G2'].loc[2]['B']

-1.1193710703606767

In [49]:
df.loc['G1'].loc[3]['A']

-1.570478588061566

In [50]:
df.loc['G1']

            A         B
Num
1    0.181931 -0.095700
2   -0.852027  0.981596
3   -1.570479  0.029993

In [51]:
df.xs('G1')

            A         B
Num
1    0.181931 -0.095700
2   -0.852027  0.981596
3   -1.570479  0.029993

In [53]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.181931 -0.095700
G2      2.801309 -1.940199